/* todo: ul->li->a --- display:inline ============= */

/* todo: linear-gradient(gradient ,--> url (img) */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	border: 2px solid red;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

a {
	/* width: 100%; */
	color: black;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}

img {
	width: 100%;
	height: 100%;
}

.d-flex {
	display: flex;
}

.d-inline {
	display: inline;
}

/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Navbar ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */
nav {
	flex-direction: column;
	width: 100%;
}

/*
? ============================================================================
?  ================================ nav TOP  ================================
? ============================================================================
 */

/*
 .nav-top {
 if yopu fix the top nav it will not be responsive
 height: 48px;
 justify-content: space-between;
} */

/*
 *──
 *── ────────────────────────────────────────── nav top LEFT
 *──
 */
.nav-top-L {
	width: 106px;
	height: 48px;
	background-color: black;
}

/*
 *──
 *── ────────────────────────────────────────── nav top Right
 *──
 */
.nav-top-R {
	width: 100%;
}

/*
 *──
 *── ─────────────────────────── nav top row 1
 *──
 */

.nav-top-row-1-container {
	display: none;
}

.nav-top-row-1 {
	background-color: black;
	height: 32px;
	justify-content: space-between;
	align-items: center;
}

.nav-top-row-1 a {
	color: silver;
	padding-left: 12px;
}

/*
 *──
 *──  nav top row 1 Left <────
 *──
 */

/*
 *──
 *──  nav top row 1 Right <────
 *──
 */
.nav-top-row-1-R {
	padding-right: 15px;
}

/*
 *──
 *── ─────────────────────────── nav top row 2
 *──
 */
.nav-top-row-2 {
	width: 100%;
	justify-content: space-between;
	white-space: nowrap;
}

/*
 *──
 *──  nav top row 2 L <────
 *──
 */
.nav-top-row-2-L-container {
	display: none;
}

.nav-top-row-2-L {
	justify-content: center;
	align-items: center;
}

.nav-top-row-2-L a {
	/* border: 2px solid red; */
	padding: 0 12px;
	color: gray;
}

/*
 *──
 *──  nav top row 2 icon_1 <────
 *──
 */
.nav-top-row-2-icons {
	width: 100%;
	height: 48px;
	justify-content: flex-end;
}

.nav-top-row-2-icons a {
	width: 48px;
	padding: 15px;
	border-left: 1px solid gray;
}

/*
 *──
 *──  nav top row 2 icon_2 <────
 *──
 */

/*
? ============================================================================
?  ================================ nav bottom  ================================
? ============================================================================
 */
.nav-bottom {
	height: 60px;
	background-color: rgb(255, 221, 51);
	justify-content: center;
	align-items: center;
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# -------------------------------------------------------- Media Query -------------------------------------------------------- #
!# ############################################################################################################################## #
 */

/*
? --------------------------------------------------------------------------
?      Small devices (portrait tablets and large phones, 600px and up)
? --------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) {
	/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Navbar ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */

	/*
? ============================================================================
?  ================================ nav TOP  ================================
? ============================================================================
 */

	/*
 *──
 *── ────────────────────────────────────────── nav top LEFT
 *──
 */
	.nav-top-L {
		height: 80px;
		padding: 16px 0;
	}

	/*
 *──
 *── ─────────────────────────── nav top row 1
 *──
 */
	.nav-top-row-1-container {
		display: inherit;
	}

	/*
 *──
 *── ─────────────────────────── nav top row 2
 *──
 */

	/*
 *──
 *──  nav top row 2 L <────
 *──
 */
	.nav-top-row-2-L-container {
		display: inherit;
	}

	/*
 *──
 *──  nav top row 2 icon_2 <────
 *──
 */
	.hamburger {
		display: none;
	}

	/*
? ============================================================================
?  ================================ nav bottom  ================================
? ============================================================================
 */

	.nav-bottom {
		height: 32px;
	}

	/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */
}

/*
? --------------------------------------------------------------------------
?               Large devices (laptops/desktops, 992px and up)
? --------------------------------------------------------------------------
*/
@media only screen and (min-width: 1024px) {
	/*
? ============================================================================
?  ================================ nav TOP  ================================
? ============================================================================
 */

	/*
 *──
 *── ────────────────────────────────────────── nav top LEFT
 *──
 */
	.nav-top-L {
		display: none;
	}

	/*
 *──
 *── ────────────────────────────────────────── nav top Right
 *──
 */

	/*
 *──
 *── ─────────────────────────── nav top row 1
 *──
 */

	/*
 *──
 *──  nav top row 1 Left <────
 *──
 */
	.nav-top-row-1-L {
		padding-left: 10px;
	}

	/*
 *──
 *──  nav top row 1 Right <────
 *──
 */

	/*
 *──
 *── ─────────────────────────── nav top row 2
 *──
 */

	/*
 *──
 *──  nav top row 2 L <────
 *──
 */
	.nav-top-row-2-L {
		padding-left: 10px;
	}

	/*
 *──
 *──  nav top row 2 icon_1 <────
 *──
 */

	/*
 *──
 *──  nav top row 2 icon_2 <────
 *──
 */

	/*
? ============================================================================
?  ================================ nav bottom  ================================
? ============================================================================
 */
	.nav-bottom {
		justify-content: flex-start;
		padding-left: 22px;
	}
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Footer ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */
footer {
	width: 100%;

	/* height: 283px; */

	/* border: 1px solid red; */
}

/*
? ============================================================================
?  ============================== footer row 1  ==============================
? ============================================================================
 */
.footer-row-1 {
	/* height: 91px; */

	/* padding: 35px 0; */
	background-color: rgb(19, 19, 19);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgb(85, 85, 85);
}

/*
 *──
 *── ────────────────────────────────────────── footer-icon
 *──
 */
.icons {
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	flex-wrap: wrap;
}

.icons li a {
	border-radius: 50%;
	background-color: rgb(85, 85, 85);
	padding: 12px;
	margin: 35px 3px 21px 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons li a img {
	width: 20px;
	height: 20px;
}

/*
 *──
 *── ────────────────────────────────────────── footer links
 *──
 */

.footer-links {
	margin-bottom: 35px;
}

.footer-links li a {
	color: silver;
	font-size: 13px;
	line-height: 24px;
	margin: 0 4px;
}

/*
? ============================================================================
?  ============================== footer row 2  ==============================
? ============================================================================
 */
.footer-row-2 {
	color: rgb(170, 170, 170);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	/* height: 57px; */
	padding: 32px 0;
	background-color: rgb(0, 0, 0);
}

.footer-row-2 p {
	font-size: 13px;
	font-weight: 400;
	line-height: 19px;
}

/*
.footer-row-2 img {
	width: 100px;
} */

/*
 *──
 *── ────────────────────────────────────────── 1
 *──
 */
.f-row-2-1 img {
	width: 40px;
	height: auto;
}

/*
 *──
 *── ────────────────────────────────────────── 2
 *──
 */

/*
 *──
 *── ────────────────────────────────────────── 3
 *──
 */

.f-row-2-3 img {
	width: 66px;
	height: auto;
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# -------------------------------------------------------- Media Query -------------------------------------------------------- #
!# ############################################################################################################################## #
 */

/*
? --------------------------------------------------------------------------
?      Small devices (portrait tablets and large phones, 600px and up)
? --------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) {
	.footer-row-2 {
		flex-direction: row;
		padding: 40px 5px;
		justify-content: center;
		align-items: center;
	}
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Highlights ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */
.highlights {
	border: 3px solid green;
	width: 100%;
	height: 41rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'first-highlight'
		'second-highlight'
		'third-highlight';
}

.highlights-article {
	/* todo: change this asap */
	/* height: 210px; */
	margin: 10px;
	align-items: flex-end;
	color: white;
}

.highlights-article h2 a {
	color: white;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
}

.highlights-article ul li,
li a {
	color: rgba(255, 255, 255, 0.6);
	margin-right: 3px;
	display: flex;
	align-items: center;
}

.lower-highlight li img {
	width: 16px;
	height: 16px;
	margin-right: 3px;
}

/*
? ============================================================================
?  ============================== 1st highlight  ==============================
? ============================================================================
 */
.first-highlight {
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.52),
			rgba(0, 0, 0, 0.73)
		),
		url('images/logo.png');
	background-size: cover;
	background-position: center;
	padding: 20px;

	grid-area: first-highlight;

	/* color: white; */
}

/*
? ============================================================================
?  ============================== 2nd highlight  ==============================
? ============================================================================
 */
.second-highlight {
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.3),
			rgba(0, 0, 0, 0.9)
		),
		url('images/google-account.png');
	background-size: cover;
	background-position: center;
	padding: 20px;

	grid-area: second-highlight;

	/* color: white; */
}

/*
? ============================================================================
?  ============================== 3rd highlight  ==============================
? ============================================================================
 */
.third-highlight {
	background-image: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.52),
			rgba(0, 0, 0, 0.73)
		),
		url('images/macapp.png');
	background-size: cover;
	background-position: center;
	padding: 20px;

	grid-area: third-highlight;

	/* color: white; */
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# -------------------------------------------------------- Media Query -------------------------------------------------------- #
!# ############################################################################################################################## #
 */

/*
? --------------------------------------------------------------------------
?      Small devices (portrait tablets and large phones, 600px and up)
? --------------------------------------------------------------------------
*/

@media only screen and (min-width: 768px) {
	.highlights {
		display: grid;
		grid-template-columns: 70% 30%;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'first-highlight second-highlight'
			'first-highlight third-highlight';
	}

	/* *----------------------------------------------------- */

	/* *----------------------------------------------------- */

	.second-highlight ul li:last-child {
		display: none;
	}

	/* *----------------------------------------------------- */

	.third-highlight ul li:last-child {
		display: none;
	}
}

/*
? --------------------------------------------------------------------------
?               Large devices (laptops/desktops, 992px and up)
? --------------------------------------------------------------------------
*/
@media only screen and (min-width: 1024px) {
	/* *----------------------------------------------------- */

	.second-highlight ul li:last-child {
		display: inherit;
	}

	/* *----------------------------------------------------- */

	.third-highlight ul li:last-child {
		display: inherit;
	}
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */
