* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	/* width: 100%; */
	color: black;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
}
img {
	width: 100%;
	height: 100%;
}

.d-flex {
	display: flex;
}

/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Navbar ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */
nav {
	flex-direction: column;
}
/* ? ============================================================================ */

/* ?  ================================ nav TOP  ================================  */

/* ? ============================================================================ */
.nav-top {
	/* if yopu fix the top nav it will not be responsive */
	/* height: 48px; */
	/* justify-content: space-between; */
}

/*
 *──
 *── ────────────────────────────────────────── nav top LEFT
 *──
 */
.nav-top-L {
	width: 106px;
	height: 48px;
	background-color: black;
}

/*
 *──
 *── ────────────────────────────────────────── nav top Right
 *──
 */
.nav-top-R {
	width: 100%;
}

/*
 *──
 *── ─────────────────────────── nav top row 1
 *──
 */

.nav-top-row-1-container {
	display: none;
}

.nav-top-row-1 {
	background-color: black;
	height: 32px;
	justify-content: space-between;
	align-items: center;
}
.nav-top-row-1 a {
	color: silver;
	padding-left: 12px;
}
/*
 *──
 *──  nav top row 1 Left <────
 *──
 */

/*
 *──
 *──  nav top row 1 Right <────
 *──
 */
.nav-top-row-1-R {
	padding-right: 15px;
}
/*
 *──
 *── ─────────────────────────── nav top row 2
 *──
 */
.nav-top-row-2 {
	justify-content: space-between;
}
/*
 *──
 *──  nav top row 2 L <────
 *──
 */
.nav-top-row-2-L {
	justify-content: center;
	align-items: center;
}

.nav-top-row-2-L a {
	/* border: 2px solid red; */
	padding: 0 12px;
	color: gray;
}

/*
 *──
 *──  nav top row 2 icon_1 <────
 *──
 */
.nav-top-row-2-icons {
	/* width: 98px; */
	height: 48px;
}

.nav-top-row-2-icons a {
	width: 48px;
	padding: 15px;
	border-left: 1px solid gray;
}

/*
 *──
 *──  nav top row 2 icon_2 <────
 *──
 */

/* ? ============================================================================ */

/* ?  =============================== nav bottom ===============================  */

/* ? ============================================================================ */
.nav-bottom {
	height: 60px;
	background-color: rgb(255, 221, 51);
	justify-content: center;
	align-items: center;
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */

/*
!# ############################################################################################################################## #
!# -------------------------------------------------------- Media Query -------------------------------------------------------- #
!# ############################################################################################################################## #
 */

/* ? -------------------------------------------------------------------------- */

/* ?      Small devices (portrait tablets and large phones, 600px and up)      */

/* ? -------------------------------------------------------------------------- */

@media only screen and (min-width: 800px) {
	/*
!# ############################################################################################################################## #
!# ----------------------------------------------------------- Navbar ----------------------------------------------------------- #
!# ############################################################################################################################## #
 */

	/* ? ============================================================================ */

	/* ?  ================================ nav TOP  ================================  */

	/* ? ============================================================================ */

	/*
 *──
 *── ────────────────────────────────────────── nav top LEFT
 *──
 */
	.nav-top-L {
		height: 80px;
		padding: 16px 0;
	}

	/*
 *──
 *── ────────────────────────────────────────── nav top Right
 *──
 */

	/*
 *──
 *── ─────────────────────────── nav top row 1
 *──
 */
	.nav-top-row-1-container {
		display: inherit;
	}
	/*
 *──
 *──  nav top row 1 Left <────
 *──
 */

	/*
 *──
 *──  nav top row 1 Right <────
 *──
 */

	/*
 *──
 *── ─────────────────────────── nav top row 2
 *──
 */

	/*
 *──
 *──  nav top row 2 L <────
 *──
 */

	/*
 *──
 *──  nav top row 2 icon_1 <────
 *──
 */

	/*
 *──
 *──  nav top row 2 icon_2 <────
 *──
 */
	.hamburger {
		display: none;
	}
	/* ? ============================================================================ */

	/* ?  =============================== nav bottom ===============================  */

	/* ? ============================================================================ */

	/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */
}

/* ? -------------------------------------------------------------------------- */

/* ?               Large devices (laptops/desktops, 992px and up)               */

/* ? -------------------------------------------------------------------------- */
@media only screen and (min-width: 992px) {
}

/*
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
!#                                                              End                                                              #
!# ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────#
 */
